<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: common-header"></head>
<body>
    <div class="header-nightsky">
		<nav th:replace="fragments/layout :: header"></nav>

	    <div class="hero form" style="margin:auto;">
	        <div class="row">
		        <form action="#" th:action="@{/student/save}" th:object="${student}"
				    method="POST" novalidate="novalidate">
				    
				    <h2 style="font-size: 47px; margin-top: 0; margin-bottom: 20px">Sửa Sinh Viên</h2>
				    <input type="hidden" th:field="*{id}" th:value="${id}" />
				    <div class="form-group">
				        <label>Tên</label> 
				        <input type="text" class="form-control" th:field="*{name}" placeholder="Đánh tên vào đây..."/> 
				        <span class="label label-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Lỗi nhập tên</span>
				    </div>
				    <div class="form-group">
				        <label>Ngày Sinh</label> 
				        <input type="text" class="form-control" th:field="*{dob}" placeholder="Nhập ngày sinh vào đây..."/>
				        <span class="label label-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Lỗi định dạng ngày tháng</span>
				    </div>
				   
				    <div class="row">
				    	<label>Chuyên Ngành</label>
						<div class="form-group" th:each="major,stat : ${majorsBind}">
					        <label class="custom-control custom-checkbox">
							  <input type="radio" th:value="${major.id}" th:field="*{major.id}" class="custom-control-input">
							  <span class="custom-control-indicator"></span>
							  <span class="custom-control-description" th:text="${major.name}"></span>
							</label>
					    </div>
					</div>
				    <button type="submit" class="btn btn-primary" style="margin-right:0px">Lưu</button>
				</form>
	    	</div><!-- /.container -->
    	</div><!-- /.hero -->
    </div><!-- /.header-nightsky -->

</body>
</html>