<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: common-header"></head>
<body>
    <div class="header-nightsky">
		<nav th:replace="fragments/layout :: header"></nav>

	    <div class="hero form" style="margin:auto;">
	        <div class="row">
		        <form action="#" th:action="@{/mark/save}" th:object="${mark}"
				    method="POST" novalidate="novalidate">
				     <th:block>
					    <h2 style="font-size: 47px; margin-top: 0; margin-bottom: 20px">Nhập Điểm</h2>
				<!--	<input type="hidden" th:field="*{id}" /> -->
					    <div class="form-group">
					        <label>Mã Sinh Viên</label> 
					        <input name="std" type="text" class="form-control" th:field="*{student.id}" placeholder="Đánh Mã SV vào đây..."/> 
					    </div>
					    <div class="form-group">
					        <label>Mã Môn Học</label> 
					        <input name="sub" type="text" class="form-control" th:field="*{subject.id}" placeholder="Nhập Mã Môn Học chỗ này..."/>
					    </div>
					    <div class="form-group">
					        <label>Điểm Môn Học</label> 
					        <input name="m" type="text" class="form-control" th:field="*{studentmark}" placeholder="Cuối cùng là điểm..."/>
					    </div>
					   
					    <button type="submit" class="btn btn-primary" style="margin-right:0px">Lưu</button>
				    </th:block>
				    
				</form>
	    	</div><!-- /.container -->
    	</div><!-- /.hero -->
    </div><!-- /.header-nightsky -->

</body>
</html>
