<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: common-header"></head>
<body>
    <div class="header-nightsky">
		<nav th:replace="fragments/layout :: header"></nav>

	    <div class="hero form" style="margin:auto;">
	        <div class="row">
		        <form action="#" th:action="@{/subject/save}" th:object="${subject}"
				    method="POST" novalidate="novalidate">
				    
					
				    <th:block th:if="${#lists.isEmpty(majorsBind)}">
						<script type="text/javascript">
			                window.onload = function() {
			                    if(confirm("Chưa có chuyên ngành nào! Hãy tạo chuyên ngành trước!")) {
			                    	window.location="http://localhost:8080/major/create";
			                    }
			                };
						</script>			
						<h3>Hãy Tạo Chuyên Ngành Trước</h3>
					</th:block>
				    
				    <th:block th:unless="${#lists.isEmpty(majorsBind)}">
				    	<h2 style="font-size: 47px; margin-top: 0; margin-bottom: 20px">Thêm Môn Học</h2>
					    <input type="hidden" th:field="*{id}" />
					    <div class="form-group">
					        <label>Tên Học Phần</label> 
					        <input type="text" class="form-control" th:field="*{name}" placeholder="Đánh tên vào đây..."/> 
					        <span class="label label-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Lỗi nhập tên</span>
					    </div>
						<div class="row">
							<div class="form-group" th:each="major,stat : ${majorsBind}">
						        <label class="custom-control custom-checkbox">
								  <input type="checkbox" th:value="${major.id}" th:field="*{majors}" class="custom-control-input">
								  <span class="custom-control-indicator"></span>
								  <span class="custom-control-description" th:text="${major.name}"></span>
								</label>
						    </div>
						</div>
				    <button type="submit" class="btn btn-primary" style="margin-right:0px">Lưu</button>
					</th:block>
				    
				</form>
	    	</div><!-- /.container -->
    	</div><!-- /.hero -->
    </div><!-- /.header-nightsky -->

</body>
</html>